
<ul class="list-group">
  <li routerLink="/cars"
  [class]="getAllBrandClass()"
  >
    Tüm markalar
  </li>
    <li *ngFor="let brand of brands"
    [class]="getCurrentBrandClass(brand)"
    (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{brand.id}}" 
    aria-current="true">
      {{brand.name}}
    </li>
    <div *ngIf="dataLoaded==false" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </ul>