<div *ngIf="dataLoaded==false" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>
</div>
  <div  class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let car of cars" class="col" >
      <div class="card" routerLink="/cardetails/{{car.carId}}">
        <img src="{{car.carImages[0].imagePath}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{car.carName}}</h5>
          <p class="card-text">
            {{car.description}}
          </p>
        </div>
      </div>
    </div>
  </div>